:root {
    --main-color: black;
    --secondary-color: white;
}

/* SHARED */
#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    cursor: pointer;
    display: none;
}

.main-tittle h3::after {
    content: "";
    background-image: url(../imgs/dots.png);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main-tittle h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}

/* START LOADING SECTION */
#loading {
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    position: fixed;
    z-index: 99999;
    align-items: center;
    justify-content: center;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* END LOADING SECTION */

/* START NAB BAR */
nav .content {
    position: relative;
}

nav .nav-link {
    color: var(--secondary-color);
}

nav ul .special {
    position: absolute;
    right: 100%;
    top: 0;
    background-color: var(--secondary-color);
    transition: all 1s;
}

nav .content .special li a {
    transition: all 0.5s;
}

nav .content .special li:hover a {
    position: absolute;
    right: 20px;
    top: 20px;
}

nav .navbar a,
nav .navbar a:focus {
    color: var(--secondary-color);
}

.navbar ul li {
    position: relative;
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--secondary-color);
    width: 0%;
    bottom: 0;
    transition: all 0.5s;
    visibility: hidden;
}

.navbar .active:before {
    visibility: visible;
    width: 80%;
}

#navBar,
#navBar .container {
    transition: all 0.5s;
}

/* END NAV BAR */

/* START HEADER SECTION */
header {
    background-image: url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
}

header .layer {
    background-color: rgba(0, 0, 0, 0.7);
    animation: home 0.7s;
}

@keyframes home {
    0% {
        background-color: rgba(0, 0, 0, 0.7);
        transform-origin: center center;
        transform: scaleY(0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.7);
        transform-origin: center center;
        transform: scaleY(1);
    }
}

#home .social-icons .icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    cursor: pointer;
}

#home .social-icons .icon i {
    color: var(--secondary-color);
}

/* END HEADER SECTION */

/* START ABOUT SECTION */
#about .bg-img::after {
    content: "";
    background-image: url(../imgs/dots.png);
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: -30px;
    left: -30px;
    z-index: -1;
}
#about .item .progress{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

#about .item .progress .skill-1::after {
    content: "95%";
    position: absolute;
    top: 3px;
    right: 2.5rem;
    font-size: 11px;
    color: var(--secondary-color);
    transition: all 1s;
}

#about .item .progress .skill-2::after {
    content: "80%";
    position: absolute;
    top: 3px;
    right: 8.5rem;
    font-size: 11px;
    color: var(--secondary-color);
    transition: all 1s;
}

#about .item .progress .skill-3::after {
    content: "90%";
    position: absolute;
    top: 3px;
    right: 4.5rem;
    font-size: 11px;
    color: var(--secondary-color);
    transition: all 1s;
}

#about .progress .progress-bar {
    animation: animate-positive 1s;
}

@keyframes animate-positive {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

#about .button-1 a,
#about .button-2 a {
    transition: all 0.5s;
}

#about .button-1:hover a {
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
    border: 1px solid black;
}

#about .button-2:hover a {
    background-color: var(--main-color) !important;
    color: var(--secondary-color) !important;
}

/* END ABOUT SECTION */

/* START SERVICES SECTION */
#services {
    background-color: #F7F7F7;
}

#services .services-box {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

#services .icon {
    width: 5rem;
    height: 5rem;
    background-color: #f4f4f4;
    transition: all 0.5s;
}

#services .services-box:hover .icon {
    background-color: var(--main-color);
}

#services .services-box:hover i {
    color: var(--secondary-color);
}

/* END SERVICES SECTION */

/* START PORTFOLIO SECTION */
#portfolio .nav-item .nav-link {
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-weight: bolder;
    padding-right: 1rem;
    transition: all 0.5s;
    border-radius: 0;
}

#portfolio .icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#portfolio .fade {
    transition: all 0.3s;
}

#portfolio .layer {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    transition: all 0.5s;
    opacity: 0;
}
#portfolio .content h6 {
    position: absolute;
    z-index: 10;
        width: 100%;
        top: 40%;
        left: 0;
    transition: all 1s;
    transform: translate(0%, -50%);
}
#portfolio .content .icons {
    position: absolute;
        z-index: 8;
        width: 100%;
        top: 60%;
        left: 0;
        transition: all 1s;
        transform: translate(0%, -50%);
}
#portfolio .special:hover h6 {
        transform: translateY(0);
        top: 40%;
}
#portfolio .special:hover .icons {
        transform: translateY(0);
       top: 50%;
}
#portfolio .special:hover .layer {
    opacity: 1;
    border: 3px solid #D7D5D6;
    background-color: #FDFDFD;
    transform: translateY(0);
}

#portfolio .special .icon:hover {
    background-color: var(--secondary-color);
    border: 1px solid black;
}

#portfolio .special .icon:hover i {
    color: var(--main-color);
}

/* END PORTFOLIO SECTION */

/* START Testimonials SECTION */
#Testimonials .icon {
    width: 6rem;
    height: 6rem;
}

#Testimonials .carousel-indicators [data-bs-target] {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: #d6d6d6;
    transition: all 0.3s;
}

#Testimonials .carousel-indicators [data-bs-target]:hover {
    background-color: gray;
}

/* END Testimonials SECTION */

/* START TEAM SECTION */
#team .icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#team .layer {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    inset: 5px;
    opacity: 0;
    transition: all 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

#team .card:hover .layer {
    opacity: 1;
    background-color: #FDFDFD;
    transform: rotateY(0deg) scale(1, 1);
}

#team .card img {
    transition: all 1s;
}

#team .card-img:hover img {
    transform: scale(1.3);
}

#team .card .icon:hover {
    background-color: var(--secondary-color);
    border: 1px solid black;
}

#team .card .icon:hover i {
    color: var(--main-color);
}

/* END TEAM SECTION */

/* START CONTACT SECTION */
#contact .icon {
    width: 4rem;
    height: 4rem;
    background-color: #f4f4f4;
    transition: all 0.5s;
}

#contact .col-lg-4:hover .icon{
    background-color: var(--main-color);
}

#contact .col-lg-4:hover i {
    color: var(--secondary-color);
}

#contact form textarea {
    resize: none;
}

#contact form a {
    transition: all 0.5s;
}

#contact form a:hover {
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
    border: 1px solid black;
}
#contact .form-control:focus{
    box-shadow: none;
}
#contact .button a:hover {
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
}
#contact .button a {
    transition: all 0.5s;
}
/* END CONTACT SECTION */